<style>
  .tus_banner_bg {
    width: 100%;
  }

  .tus_banner {
    width: 100%;
  }

  .tus_banner_arrows {
    width: 100%;
    position: relative;
  }

  .tus_banner_arrow {
    position: absolute;
    z-index: 3;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }

  .tus_banner_arrow_prev {
    left: 30px;
  }

  .tus_banner_arrow_next {
    right: 30px;
  }

  .tus_banner_arrow img {
    width: 60px;
    display: block;
  }

  .tus_banner_slider {
    width: 100%;
  }

  .tus_banner_slider .draggable {
    padding: 0px !important;
  }

  .tus_banner_sr_slide {
    padding: 0px 10px;
  }
.tus_banner_sr_slide img {
  opacity:0;
}
  .tus_banner_sr_se_image {
    width: 100%;
    position: relative;
  }

  .tus_banner_sr_se_image img {
    width: 100%;
    display: block;
  }

  .tus_banner_sr_se_overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none !important;
  }

  .tus_banner_sr_se_overlay_show {
    display: block !important;
  }

  .tus_banner_sr_se_info {
    width: 100%;
    position: absolute;
    z-index: 2;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -70%);
    padding: 0px 20px;
    opacity: 0;
    visibility : hidden;
    transition: all ease-in-out .3s;
  }

  .slick-center .tus_banner_sr_se_info {
    opacity: 1;
    visibility : visible;
  }

  .tus_banner_sr_se_subheading {
    width: 100%;
    text-align: center;
    padding: 0px 0px 5px;
  }

  .tus_banner_sr_se_subheading p {
    margin: 0px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0px;
    font-weight:600;
  }

  .tus_banner_sr_se_heading {
    width: 100%;
    text-align: center;
  }

  .tus_banner_sr_se_heading h2 {
    margin: 0px;
    font-family: FS_Emeric_medium;
    font-size: 44px;
    line-height: 44px;
    letter-spacing: 0px;
  }

  .tus_banner_sr_se_button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0px 0px;
  }

  .tus_banner_sr_se_button a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    padding: 15px 20px;
  }

  .tus_banner_sr_se_button a p {
    margin: 0px;
    font-family:var(--FS_Emeric_medium);
    font-size: 20px;
    line-height: 16px;
    letter-spacing: 0px;
  }

  .tus_banner_sr_se_button a img {
    width: 26px;
    display: block;
    padding: 0px 0px 0px 10px;
  }

  .tus_banner_sr_se_rating {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px 0px;
  }

  .tus_banner_sr_se_rating img {
    width: 19px;
    display: block;
    padding: 0px 3px 0px 0px;
  }

  .tus_banner_sr_se_rating p {
    margin: 0px;
    font-family: var(--FS_Emeric_medium);
    font-size: 16px;
    line-height: 12px;
    letter-spacing: 0px;
    padding: 0px 0px 0px 3px;
  }

  @media (max-width: 1024px){
    .tus_banner_arrow_prev {
      left: 20px;
    }

    .tus_banner_arrow_next {
      right: 20px;
    }

    .tus_banner_arrow img {
      width: 40px;
    }

    .tus_banner_sr_slide {
      padding: 0px 5px;
    }

    .tus_banner_sr_se_subheading p {
      font-size: 12px;
      line-height: 16px;
    }

    .tus_banner_sr_se_heading h2 {
      font-size: 30px;
      line-height: 34px;
    }

    .tus_banner_sr_se_button {
      padding: 20px 0px 0px;
    }

    .tus_banner_sr_se_button a {
      padding: 15px 15px;
    }

    .tus_banner_sr_se_button a p {
      font-size: 16px;
      line-height: 12px;
    }

    .tus_banner_sr_se_button a img {
      width: 20px;
      padding: 0px 0px 0px 7px;
    }

    .tus_banner_sr_se_rating {
      padding: 10px 0px 0px;
    }

    .tus_banner_sr_se_rating img {
      width: 16px;
      padding: 0px 2px 0px 0px;
    }

    .tus_banner_sr_se_rating p {
      font-size: 14px;
      line-height: 14px;
      padding: 0px 0px 0px 2px;
    }
  }

  @media (max-width: 768px){
    .tus_banner_arrow {
      display: none !important;
    }

    .tus_banner_sr_slide {
      padding: 0px;
    }

    .tus_banner_sr_se_image {
      height: 700px;
    }

    .tus_banner_sr_se_image img {
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }

    .tus_banner_sr_se_subheading p {
      font-size: 14px;
      line-height: 18px;
    }

    .tus_banner_sr_se_heading h2 {
      font-size: 32px;
      line-height: 36px;
    }

    .tus_banner_sr_se_button a p {
      font-size: 20px;
      line-height: 16px;
    }

    .tus_banner_sr_se_button a img {
      width: 23px;
      padding: 0px 0px 0px 7px;
    }

    .tus_banner_sr_se_rating img {
      width: 18px;
    }

    .tus_banner_sr_se_rating p {
      font-size: 16px;
      line-height: 16px;
    }
  }

  @media (max-width: 490px){
    .tus_banner_sr_se_image {
      height: 500px;
    }
  }
  
</style>

<div id="tus-banner">
  <div class="tus_banner_bg">
    <div class="tus_banner">
      <div class="tus_banner_arrows">
        {% if section.settings.tus_banner_arrow_prev != blank %}
          <div class="tus_banner_arrow tus_banner_arrow_prev">
            <img src="{{section.settings.tus_banner_arrow_prev | img_url: "master"}}">
          </div>
        {% endif %}
        {% if section.settings.tus_banner_arrow_next != blank %}
          <div class="tus_banner_arrow tus_banner_arrow_next">
            <img src="{{section.settings.tus_banner_arrow_next | img_url: "master"}}">
          </div>
        {% endif %}
        <div class="tus_banner_slider">
          {% for block in section.blocks %}
            {% if block.type == "banner_slide" %}
              <div class="tus_banner_sr_slide">
                {% if block.settings.tus_banner_sr_se_image != blank %}
                  <div class="tus_banner_sr_se_image">
                    <img src="{{block.settings.tus_banner_sr_se_image | img_url: "master"}}">
                    <div 
                      class="tus_banner_sr_se_overlay {% if block.settings.tus_banner_sr_se_overlay_show != blank %}tus_banner_sr_se_overlay_show{% endif %}" 
                      style="background-color:{{block.settings.tus_banner_sr_se_overlay_bg}}; opacity:0.{{block.settings.tus_banner_sr_se_overlay_r}};"
                    ></div>
                    <div class="tus_banner_sr_se_info">
                      {% if block.settings.tus_banner_sr_se_subheading != blank %}
                        <div class="tus_banner_sr_se_subheading">
                          <p style="color:{{block.settings.tus_banner_sr_se_subheading_c}};">{{block.settings.tus_banner_sr_se_subheading}}</p>
                        </div>
                      {% endif %}
                      {% if block.settings.tus_banner_sr_se_heading != blank %}
                        <div class="tus_banner_sr_se_heading">
                          <h2 style="color:{{block.settings.tus_banner_sr_se_heading_c}};">{{block.settings.tus_banner_sr_se_heading}}</h2>
                        </div>
                      {% endif %}
                      {% if block.settings.tus_banner_sr_se_button != blank %}
                        <div class="tus_banner_sr_se_button">
                          <a href="{{block.settings.tus_banner_sr_se_button_url}}" style="background-color:{{block.settings.tus_banner_sr_se_button_bg}};">
                            <p style="color:{{block.settings.tus_banner_sr_se_button_c}};">{{block.settings.tus_banner_sr_se_button}}</p>
                            {% if block.settings.tus_banner_sr_se_button_icon != blank %}
                              <img src="{{block.settings.tus_banner_sr_se_button_icon | img_url: "master"}}">
                            {% endif %}
                          </a>
                        </div>
                      {% endif %}
                      <div class="tus_banner_sr_se_rating">
                        {% if block.settings.tus_banner_sr_se_rating_full != blank %}
                          <img src="{{block.settings.tus_banner_sr_se_rating_full | img_url: "master"}}">
                        {% endif %}
                        {% if block.settings.tus_banner_sr_se_rating_full != blank %}
                          <img src="{{block.settings.tus_banner_sr_se_rating_full | img_url: "master"}}">
                        {% endif %}
                        {% if block.settings.tus_banner_sr_se_rating_full != blank %}
                          <img src="{{block.settings.tus_banner_sr_se_rating_full | img_url: "master"}}">
                        {% endif %}
                        {% if block.settings.tus_banner_sr_se_rating_full != blank %}
                          <img src="{{block.settings.tus_banner_sr_se_rating_full | img_url: "master"}}">
                        {% endif %}
                        {% if block.settings.tus_banner_sr_se_rating_full != blank %}
                          <img src="{{block.settings.tus_banner_sr_se_rating_full | img_url: "master"}}">
                        {% endif %}
                        {% if block.settings.tus_banner_sr_se_rating_text != blank %}
                          <p style="color:{{block.settings.tus_banner_sr_se_rating_text_c}}">{{block.settings.tus_banner_sr_se_rating_text}}</p>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                {% endif %}
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(".tus_banner_slider").slick({
    dots: false,
    infinite: true,
    arrows: true,
    prevArrow: ".tus_banner_arrow_prev",
    nextArrow: ".tus_banner_arrow_next",
    speed: 300,
    centerMode: true,
    slidesToShow: 3,
    slidesToScroll: 1,
    responsive: [
      {
        breakpoint: 769,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1
        }
      }
    ]
  });
    $(document).ready(function(){
    setTimeout(function(){
      $(".tus_banner_sr_slide img").each(function(){
        $(".tus_banner_sr_slide img").css("opacity","1");
      });
    }, 1000);
  });
  
</script>

{% schema %}
  {
    "name": "TUS Banner",
    "settings": [
    {
    "type": "image_picker",
    "id": "tus_banner_arrow_prev",
    "label": "Previous Arrow"
    },
    {
    "type": "image_picker",
    "id": "tus_banner_arrow_next",
    "label": "Next Arrow"
    }
    ],
    "blocks": [
    {
    "type": "banner_slide",
    "name": "Banner Slide",
    "settings": [
    {
    "type": "image_picker",
    "id": "tus_banner_sr_se_image",
    "label": "Image"
    },
    {
    "type": "checkbox",
    "id": "tus_banner_sr_se_overlay_show",
    "label": "Apply Overlay"
    },
    {
    "type": "color",
    "id": "tus_banner_sr_se_overlay_bg",
    "label": "Overlay Color",
    "default": "#000000"
    },
    {
    "type": "range",
    "id": "tus_banner_sr_se_overlay_r",
    "label": "Overlay Opacity",
    "min": 1,
    "max": 9,
    "default": 7
    },
    {
    "type": "textarea",
    "id": "tus_banner_sr_se_subheading",
    "label": "Sub Heading",
    "default": "The official home of King’s Merchandise"
    },
    {
    "type": "color",
    "id": "tus_banner_sr_se_subheading_c",
    "label": "Sub Heading Color",
    "default": "#F5F5FA"
    },
    {
    "type": "textarea",
    "id": "tus_banner_sr_se_heading",
    "label": "Heading",
    "default": "Browse Our Limited Edition Collection"
    },
    {
    "type": "color",
    "id": "tus_banner_sr_se_heading_c",
    "label": "Heading Color",
    "default": "#F5F5FA"
    },
    {
    "type": "url",
    "id": "tus_banner_sr_se_button_url",
    "label": "Button URL"
    },
    {
    "type": "text",
    "id": "tus_banner_sr_se_button",
    "label": "Button Text",
    "default": "VISIT STORE NOW"
    },
    {
    "type": "color",
    "id": "tus_banner_sr_se_button_bg",
    "label": "Button Bg Color",
    "default": "#5CBCAE"
    },
    {
    "type": "color",
    "id": "tus_banner_sr_se_button_c",
    "label": "Button Text Color",
    "default": "#1A1A1A"
    },
    {
    "type": "image_picker",
    "id": "tus_banner_sr_se_button_icon",
    "label": "Button Icon"
    },
    {
    "type": "image_picker",
    "id": "tus_banner_sr_se_rating_full",
    "label": "Rating Full"
    },
    {
    "type": "text",
    "id": "tus_banner_sr_se_rating_text",
    "label": "Rating Text",
    "default": "Rated 4.9/5"
    },
    {
    "type": "color",
    "id": "tus_banner_sr_se_rating_text_c",
    "label": "Rating Text Color",
    "default": "#FFFFFF"
    }
    ]
    }
    ],
    "presets": [
    {
    "name": "TUS Banner",
    "category": "Office Work"
    }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}